form.FormCadastro {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 15%;
}

form.FormCadastro input[type="text"] {
    border: 1px solid #da552f;
    border-radius: 12px;
    height: 50px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 12pt;
    color: #da552f;

}

form.FormCadastro input[type="button"] { 
    height: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    align-items: center;
    font-weight: bolder;
    color: #da552f;
    font-size: 12pt;
    transition: all 0.8s;
    margin-top: 40px;
}

form.FormCadastro input[type="button"]:hover {
    background:#da552f;
    color: white;
    transition-duration: 1.2s;
}

form.FormCadastro a {
    margin: 20px auto 0 auto;
    border: 2px solid #da552f;
    border-radius: 5px;
    height: 40px;
    width: 30%;
    text-decoration: none;
    color: #da552f;
    text-align: center;
    padding-top: 10px;
} 
form.FormCadastro a:hover{
    background: #da552f;
    color: white;
    transition-duration: 1.2s;
}