
form.FormLogin {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 15%;
}

form.FormLogin input[type="text"] {
    border: 1px solid #da552f;
    border-radius: 12px;
    height: 50px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 12pt;
    color: #da552f;
}


form.FormLogin input[type="button"] { 
    height: 50px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    align-items: center;
    font-weight: bolder;
    color: #da552f;
    font-size: 12pt;
    transition: all 0.8s;
    margin-top: 40px;
}
form.FormLogin input[type="button"]:hover {
    background: #da552f;
    color: white;
    cursor: pointer;
}
