div#grid-funcionarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
div#grid-funcionarios > div.itens {
    background-color: turquoise;
    width: 100%;
    color: white;
}