
form.agendamento {
    border: 1px #AAA solid;
    padding: 50px;
    box-shadow: 5px 5px 4px rgba(0,0,0, 0.3);
}

form.agendamento input[type=text] {
    height: 40px;
    border: 1px #AAA solid;
    border-radius: 5px ;
    margin-top: 20px;
    padding-left: 10px;
    color: #AAA;
    width: 100%;
}

form.agendamento input::placeholder {

}

form.agendamento select {
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
}

form.agendamento select {
    padding-left: 10px;
}

form.agendamento div.display-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px
}

form.agendamento div.display-grid div.item {
    background: green;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 10px;
}

form.agendamento div.display-grid div.item:hover {
    cursor: pointer;
}