form.agendamento input[type=text] {
    height: 40px;
    border: 1px #AAA solid;
    border-radius: 5px ;
    margin-top: 20px;
    padding-left: 10px;
    color: #AAA;
    width: 100%;
}

form.agendamento select {
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
}

form.agendamento select {
    padding-left: 10px;
}

form.agendamento div.display-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px
}

form.agendamento div.display-grid input[type=button].item {
    background: green;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 10px;
    border: 0;
}

form.agendamento div.display-grid input[type=button].item:hover {
    cursor: pointer;
}